.priority {
    border-style: solid;
    border-color: transparent;
    font-size: 14px;
    width: 25vw;
    height: 30px;
    justify-self: center;
}
.low{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #b6d6f0;
}
.medium{
    border-left-style: none;
    border-right-style: none;
    background-color: #e9ccaa;
}
.high{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #f2a68e;
}
.lowFocus, .highFocus{
    font-weight: bold;
    border-width: 1px;
    border-color: black;
}
.mediumFocus {
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
}


.button{
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
    font-weight: bold;
    width: 40vw;
    box-shadow: 0 0 20px -10px black;

}
.save {
    background-color: white;
    color: #c49965;
}
.delete {
    color: #d05e65;
    background-color: #ffcac7;
}
.button:active {
    background-color: #eaeaea;
}
.button:disabled {
    color: #bcbcbc;
    background-color: #eaeaea;
    cursor: unset;
    box-shadow: 0 0 20px -8px white;
}
