.headerComponent {
    display: flex;
    width: 298px;
    justify-content: space-between;
}

.calendar {
    display: grid;
    grid-template-columns:repeat(7, 40px);
    gap: 3px;
    place-items: center;
    font-size: 13px;
    font-weight: bold;
    max-width: 10vw;
}

.headerWeekdays {
    margin-bottom: 0;
}

.currentDayToday, .currentDays, .selectedDay, .remainingDayToday, .remainingDays, .remainingDaysSelected {
    font-size: 13px;
    border-style: none;
    background-color: transparent;
    height: 32px;
    border-radius: 5px;
    width: 40px;
    justify-self: center;
}

.currentDayToday, .currentDays, .selectedDay {
    color: black
}

.currentDayToday {
    border-style: solid;
    border-width: 2px;
    border-color: #bcbcbc;
}


.selectedDay {
    background-color: #bcbcbc;
}

.remainingDays, .remainingDayToday {
    color: #cecece;
}
.remainingDayToday{
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
}


.remainingDaysSelected {
    color: white;
    background-color: #bcbcbc;
}

.button:active, .currentDays:active, .remainingDaysSelected:active, .selectedDay:active {
    transform: scale(0.94);
    transition: transform 0.2s ease;
}

.button:active{
    background-color: #eaeaea;
}

.button:not(:active) {
    background-color: white;
    border-style: none;
}

.selectShownMonth {
    font-size: 13px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.button {
    background-color: transparent;
    border: none;
    height: 30px;
    border-radius: 10vw;
}

.selectYear {
    width: 60px;
    margin-left: 10px;
    padding-left: 5px;
}


