.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px 38px 4px 16px;
}

.card > .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.3em;
}

.row > h1 {
  font-size: x-large;
}

.row > h3 {
  font-size: medium;
}