.dropdown {
    width: max-content ;
    height: 20vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.75);
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.listElement, .selectedElement {
    background-color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    min-height: 3vh;
    margin-bottom: 1vh;
}
.listElement:hover{
    cursor: pointer;
    background-color: #eaeaea;
}
.selectedElement{
    background-color: #bcbcbc;
}