.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  transform: scale(0.98);
  transition: transform 0.25s ease;
}
.icon {
  color: #666;
  font-size: 1.2rem;
}

.text {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
}
