.container {
  padding: 0.5em;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0px 1em 0px 4em;
}