.card {
  display: flex;
  flex-direction: column;
  height: 9em;
  width: 37vw;
  max-width: 10em;
  padding: 1.25em;
  background: white;
  border-radius: 12px;
  border: 2px solid black;
  overflow: hidden;
  padding: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.listCard:nth-child(even) {
  justify-self: end;
}

.card:active {
  transform: scale(0.98);
  transition: transform 0.25s ease;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryRow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.title {
  font-size: 1.15em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.starIcon {
  color: orange;
  font-size: 1.25em;
  margin: 0.5em 0.2em 0.5em 1em;
}

.flagIcon{
  color: orange;
  font-size: 1.25em;
  margin: 0.5em 0.1em 0.5em 1em;
}

.category {
  max-width: 50%;
  font-size: 1em;
  color: white;
  background-color: orange;
  border-radius: 6px;
  padding: 2px;
  margin: 0.5em 0.1em 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.taskAmount {
  font-size: 1.25em;
  margin: 0;
}

.dueTasks {
  font-size: 1em;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
