.input {
    width: 98%;
    height: 8vh;
    font-size: 35px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px;
}