.form{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 95em;
    align-self: center;
}
.input {
    width: 95vw;
    font-family: "Avenir Next", sans-serif;
}
.list{
    display: flex;
    flex-direction: row;
}
.selectList{
    width: 100%;
}
