.list {
  z-index: 100;
  height: 100vh;
  overflow-y: auto;
}

.topBar {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: stretch;
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid black; */
  padding: 0.5em;
  padding-bottom: 0;
  gap: 1em;
}

.list .topBar .listName {
  flex: 1;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 0;
}

.list .topBar .listName > h1 {
  flex: 1;
  font-size: x-large;
  font-weight: normal;
  padding: 0.4em;
  display: inline-block;
  text-align: center;
  margin: 0;
}

.buttonEdit {
  background-color: transparent;
  border: none;
  justify-self: right;
  font-size: 25px;
  padding: 0.4em;
}

.list .topBar .buttonBack {
  background-color: transparent;
  border: none;
  font-size: xx-large;
  padding: 0;
  display: flex;
  align-items: center;
}

.buttonAdd {
  background-color: transparent;
  border: none;
  font-size: x-large;
  padding: 1em;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
