body {
  background-color: #e9ccaa;
}

.buttonAdd {
  background-color: transparent;
  border: none;
  font-size: x-large;
  padding: 1em;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fading {
  animation: fadeOut 1s forwards;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  /* z-index: 100; */
  height: 100vh;
  overflow-y: auto;
}

.buttonDelete {
  position: fixed;
  right: 4px;
  bottom: 40px;
}

.buttonArchive {
  position: fixed;
  left: 4px;
  bottom: 40px;
}
